#include "resource.h"
///////////////////////////////////////////////////
//
// Icon
//
IDI_ICON1 ICON "media_\\img\\ooooo1.ico"
IDI_ICON2 ICON "media_\\img\\ooooo1.ico"
///////////////////////////////////////////////////